<nav class="navbar sticky-top navbar-expand-lg bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ABC Company</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="home" href="#">Home</a>
        </li>

         <ng-container *ngIf="userRole === 'admin' || userRole === 'user'">

          <li class="nav-item">
          <a class="nav-link active" href="/addstu">Add students</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" href="/ps">police Station</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" href="/dist">District</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" href="/div">Division</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" href="/con">country</a>
        </li>

         </ng-container>

        
        

        <ng-container *ngIf="userRole === 'admin'">

          <li class="nav-item">
          <a class="nav-link active" href="/allstu">View All Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/addloc">Add Location</a>
        </li>

           <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            View All
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/allstu">View All Student</a></li>
            <li><a class="dropdown-item" href="/allloc">View All Locations</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/register">Register Now </a></li>
          </ul>
        </li>

        </ng-container>

       

      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      <button class="btn btn-outline-success"><a href="/login" style="text-decoration: none;">LogIn</a></button>
      <button class="btn btn-outline-warning"><a href="/logout" style="text-decoration: none;">LogOut</a></button>

    </div>
  </div>
</nav>


<router-outlet />


<div class="container">
  <footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="col">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <p class="text-muted">© 2025</p>
    </div>

    <div class="col">

    </div>



    <div class="col">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="/allstu" class="nav-link p-0 text-muted">All Student View</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
        <li class="nav-item mb-2"><a href="/register" class="nav-link p-0 text-muted">Register Now </a></li>
        <li class="nav-item mb-2"><a href="/login" class="nav-link p-0 text-muted">Login</a></li>
      </ul>
    </div>


  </footer>
</div>